@import url("https://fonts.googleapis.com/css?family=Merriweather:300,900");

/* Type */

.button {
    font-family: "Merriweather", "serif";
    border: none;
    color: white;
    background-image: none;
    background-color: grey;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.5em;
    cursor: pointer;
}

	body, input, textarea, select {
		font-family: "Merriweather", "serif";
		font-weight: 300;
		font-size: 1em;
		line-height: 1.75em;
		color: #333333;
    text-align: center;
    background-image: url(symphony.png);
	}

		@media screen and (max-width: 1920px) {
			body, input, textarea, select {
				font-size: 5em;
			}
		}
		@media screen and (max-width: 1680px) {
			body, input, textarea, select {
				font-size: 4em;
			}
		}
		@media screen and (max-width: 736px) {
			body, input, textarea, select {
				font-size: 2em;
			}
		}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 900;
		color: inherit;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}


	strong, b {
		font-weight: 900;
		color: inherit;
	}

	em, i {
		font-style: italic;
	}

	a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		color: #123060;
    font-size: .5em;

	}

	sub {
		font-size: 0.4em;
	}

	hr {
		border: 0;
	}

	blockquote {
		border-left: solid 0.5em #e5e6e7;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
